<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/main.css" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
    <h1>진주커Pick 회원가입 화면</h1>
    <input type="button" value="회원가입" onclick="location.href='main'"> //submit 변경
</body>
</html>