<!DOCTYPE html>
<html>
    <head>
        <title>진주커Pick</title>
        <link rel="stylesheet"  type="text/css" href="/public/components/signup.css">
    </head>

    <body>
        <div class="container">
            <div class="title">
                <h1>진주커Pick 회원가입</h1>
            </div>
            <div class="email">
                <input id="email" type="text" placeholder="이메일을 입력해주세요.">
            </div>
            <div class="password1">
                <input id="password1" type="password" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="password2">
                <input id="password2" type="password" placeholder="비밀번호를 다시 입력해주세요.">
            </div>
            <div class="name">
                <input id="name" type="text" placeholder="닉네임을 입력해주세요.">
            </div>
            <div class="signup">
                <button id="signup">가입하기</button>
            </div>
        </div>
    </body>
</html>