body::-webkit-scrollbar{display:none}

#list_container {
    display: flex;
    justify-content: center;
}

#map {
    width:600px; height:600px;
    float: left;
    margin: 30px;
    
}

#cafe_lists {
    width:600px; height:600px;
    background-color: rgba(186, 193, 198, 0.42);
    float: left;
    margin: 30px;
}

.cafe_list {
    width:560px; height:70px;
    background-color: rgba(194, 194, 194, 0.865);
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}

.cafe_list > input {
    border: 0;
    background-color: transparent;
    color: black;
}
