@font-face{
    font-family:"NanumBarunpen";
    src:url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
    font-weight:normal;font-style:normal
}

* {
    box-sizing: border-box;
    margin:0px;padding:0px;border:0px;vertical-align:baseline;
}

body::-webkit-scrollbar{display:none}

#info_section {
    background-color: #EAECEF;
    display: flex;
    transition: all ease-out 0.3s;
    margin : auto;
    padding: 20px;
    width: 90%;
}

#simple_info {
    position: relative;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px 10px;
    display: inline;
    width: 50%;
}

.info_tag {
    color: black;
    text-decoration: none;
}
.info_tag:visited { color: black; text-decoration: none;}
.info_tag:hover { color: black; text-decoration: none;}

#cafe_image {
    width: 100%;
    overflow: hidden;
}

.star-ratings {
    position: relative;
}
   
.star-ratings-fill {
    color: gold;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-base {
    color: #fff;
    z-index: 0;
    padding: 0;
}

#review {
    background-color: #fff;
    display: inline;
    align-items: end;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

#review_input {
    border: 2px solid lightgray;
    padding: 5px;
}

.star {
    position: relative;
    font-size: 1.5rem;
    color: #ddd;
}
  
.star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.star span {
    width: 0;
    position: absolute; 
    left: 0;
    color: gold;
    overflow: hidden;
    pointer-events: none;
}

#text_area {
    width: 100%;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 20px;

}

#review_submit {
    background-color: inherit;
    float: right;
    color: lightgray;
    font-weight: bold;
}

.text_button {
    background-color: #b8e4ff;
    border-radius: 15px;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}

.text_button:hover {
    background: #72CBFF;
}

#review_lists {
    list-style: none;
    margin: auto;
    padding-top: 10px;
    width: 90%;
}

.reviews {
    border: 1px solid skyblue;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.user-star-ratings {
    position:relative; 
    display: inline-block;
}

.user-star-ratings-fill {
    position: absolute;
    top:0;
    left: 0;
    color:gold;
    z-index: 1; 
    margin:0; 
    overflow:hidden;
}

.user-star-ratings-base {
    z-index: 0;
    padding: 0;
    color: lightgray;
}

#review_del_btn {
    background-color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 667px) {
    #info_section {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        opacity: 1;
        transition: all ease-out 0.3s;
    }

    #simple_info {
        width: 100%;
    }

    #review {
        width: 100%;
    }

    #cafe_image {
        width: 100%;
    }
}