body {
    margin: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 0px;
}

.wrap {
    background-color: rgba(234, 236, 239, 0.5);
    height: 800px;
}

.posting-box {
    width: 100%;
    padding: 50px 50px;
    background-color: #EAECEF;
    margin-top: 50px;
    margin-top: 20px;
    border: solid 1px gray;
    border-radius: 10px;
}

input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
    display: none;
}

.info {
    font-size: 12px;
    padding: 5px;
}

.info .title {
    font-weight: bold;
}

.logo_back {
    text-align: center;
    /* background-color: #B8CEFB; */
    background-color: rgba(184, 206, 251, 0.8);
    margin: -10px -10px 20px -10px;
}


.main_logo {
    padding-top: 25px;
}

.side_menu {
    float: left;
    padding-left: 50px;
    padding-top: 35px;
    transition: .5s;
}

/* .main_logo {
            text-align: center;
            background-color: #B8CEFB;
            margin: -10px -10px 20px -10px;
            padding-top: 10px;
        } */

.material-icons.md-24 {
    font-size: 40px;
    position: absolute;
    top: 45px;
}

.material-icons {
    font-size: 3rem;
    margin: auto;
}

.bookmark-btt {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
}

section {
    background-color: #56789a;
    color: #fff;
    width: 200px;
    height: 1200px;
    padding-top: 300px;
    /* padding-top:300px; */
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease;
}

.bookmark-lists a:hover {
    color: #000000;
}

.info {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 400px;
    font-family: 'Gothic A1', sans-serif;

}

#info_1 {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(43, 43, 43);
}

.bookmark-lists {
    /* padding-left: 15px; */
    padding: auto;
}

#name {
    margin: 5px 70px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 80px;
    font-weight: 500;
}
#main_name { 
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-right: 30px;
    font-weight: 700; 
}
a{
    text-decoration:none;
 }
.bookmark:nth-child(1) {
    margin-top: 50px;
}

.bookmark a {
    color: #fff;
    text-decoration: none;
}
#main_home {
    list-style: none;
 }
#login {
    padding: 10px;
    list-style: none;
    background-image: url("login2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 40px;
}

#gifticon {
    padding: 10px;
    list-style: none;
    background-image: url("gifticon2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 40px;
}

#commu {
    padding: 10px;
    list-style: none;
    background-image: url("commu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 40px;
}

#title {
    border-radius: 50px;
    height: 45px;
    padding-left: 30px;
    margin-bottom: 25px;
}

#content {
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.details {
    padding-left: 20px;
    margin-bottom: 25px;

}

.detail_1{
    display: inline-block;
    width: 200px; 
    padding:2px 0;
}

.detail_2{
    display: inline-block;
    width: 250px; 
    padding:2px 0;
}
.detail_3{
    display: inline-block;
    width: 270px; 
    padding:2px 0;
}
.detail_4{
    display: inline-block;
    width: 240px; 
    padding:2px 0;
}

.people,
.purpose,
.gender,
.date{
    display: inline-block;
    /* padding-right: 10px;
            padding-left: 30px; */
    background-color: rgba(184, 206, 251, 0.4);
    width: 60px;
    padding: auto;
    text-align: center;
}

#people_num {
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    border-color: black;
    margin-left: 8px; 
    margin-right: 50px;
}

#purpose_list {
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    border-color: black;
    margin-left: 8px;
    margin-right: 50px;
}

.gender_check {
    display: inline-block;
    padding-top: 6px;
    height: 35px;
    margin-left: 8px;
    margin-right: 50px;
    text-align: center;
}

.date_pick {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    margin-left: 8px;
    border-color: black;
}

#purpose_list {
    width: 110px;
    height: 35px;
    border-width: 1px;
    text-align: center;
    border-color: black;
    display: inline-block;
    padding-right: 10px;
}

.save {
    width: 100px;
    height: 35px;
    background-color: #000000;
    color: white;
}

.save:hover {
    width: 100px;
    height: 35px;
    background-color: white;
    color: black;
}

.reset {
    width: 100px;
    height: 35px;
    background-color: white;
    color: black;
}

.reset:hover {
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
}

.final_bt {
    text-align: center;
}

.community { 
    margin-bottom: 0; 
    text-align: center;
    color: black;
    font-size: 150%;
}

@media screen and (max-width: 667px) {
    .logo_back {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 0 .8rem;
    }
}

@media screen and (max-width: 667px) {
    .community {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 667px) {
    .details {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 0 .7rem;
    }
}


@media screen and (max-width: 667px) {
    .detail_1,
    .detail_2,
    .detail_3,
    .detail_4 {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding:2px 0;
    }
}

@media screen and (max-width: 667px) {
    .wrap {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem; 
        margin-bottom: 10rem;
    }
}