body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_back {
    text-align: center;
    /* background-color: #B8CEFB; */
    background-color: rgba(184, 206, 251, 0.8);
    margin: -10px -10px 20px -10px;
}


.main_logo {
    padding-top: 25px;
}

.side_menu {
    float: left;
    padding-left: 50px;
    padding-top: 35px;
    transition: .5s;
}

.bookmark-btt {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
}

section {
    background-color: #56789a;
    color: #fff;
    width: 200px;
    height: 1200px;
    padding-top: 300px;
    /* padding-top:300px; */
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: -200px;
    bottom: 0;
    transition: 1s ease;
}

.bookmark-lists a:hover {
    color: #000000;
    text-decoration: none;
    
}

.info {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 400px;
    font-family: 'Gothic A1', sans-serif;

}

#info_1 {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(43, 43, 43);
}

.bookmark-lists {
    /* padding-left: 15px; */
    padding: auto;
}

#name {
    margin: 5px 70px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 80px;
    font-weight: 500;
}

.bookmark:nth-child(1) {
    margin-top: 50px;
}

.bookmark a {
    color: #fff;
    text-decoration: none;
}

#login {
    padding: 10px;
    list-style: none;
    background-image: url("login2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 40px;
}

#gifticon {
    padding: 10px;
    list-style: none;
    background-image: url("gifticon2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 40px;
}

#commu {
    padding: 10px;
    list-style: none;
    background-image: url("commu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 40px;
}

.material-icons.md-24 {
    font-size: 40px;
    position: absolute;
    top: 45px;
}

#main_home {
    list-style: none;
}

#main_name {
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    text-align: right;
    margin-right: 30px;
    font-weight: 700;
}
a{
    text-decoration:none;
 }
hr {
    border: 0;
    height: 1.5px;
    background: #ccc;
}

@media screen and (max-width: 667px) {
    .logo_back {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        padding: 0 .8rem
    }
}